{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_title %} - {% trans "Sign In" %}{% endblock %}

{% block inner_content %}

{% get_providers as socialaccount_providers %}
<div class="container auth">
  <h2 class="font-f-l mt-5 mb-2">{% trans "Sign In" %}</h2>
  <hr>
  <p class="font-p-m-b">{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="btn btn-outline-warning text-black rounded-0 mt-2" href="{% url 'home' %}" style="padding: 8px 16px;">Home</a>
    <button class="button primaryAction" type="submit">{% trans "Sign In" %}</button>
    <p class="mt-3 mb-5">
      <a class="font-p-s secondaryAction text-muted" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </p>
  </form>
</div>

{% endblock %}