{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block extra_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="container auth">
        <h2 class="font-f-l mt-5 mb-2">{% trans "Password Reset" %}</h2>
        <hr>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="font-p-s">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    </div>
{% endblock %}
