{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
    <div class="container auth">
        <h2 class="font-f-l mt-5 mb-2">{% trans "Password Reset" %}</h2>
        
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p class="font-p-s">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
    </div>
{% endblock %}
