{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="intro">
    <div>
        <h1>A sweet, a affection <br> a treat!</h1>
        <p>From ours to your family</p>
    </div>
    <a href="{% url 'products' %}">Shop now</a>
</main>

<section id="about" class="about">
    <h2>About us</h2>
    <div class="container">
        <div class="grid-6">
            <div class="about-item">
                <img src="{% static 'img/chocolate-1.jpg' %}" alt="Some assorted bonbons">
                <h3>love</h3>
            </div>
        </div>
        <div class="grid-6">
            <div class="about-item">
                <img src="{% static 'img/chocolate-2.jpg' %}" alt="A chocolate cake">
                <h3>perfection</h3>
            </div>
        </div>
    </div>
    <p>
        Candy Care provides a unique candy experience right to your door. We are experts in producing the best sweets, providing our friends and customers with an incredible experience. Based in Dublin, Ireland, we are dedicated to providing you with the best candy in the world.
    </p>
</section>

<section class="features">
    <div class="container">
        <div class="grid-4">
            <div class="feature">
                <h2 class="feature-brigadeiro">Brigadeiro</h2>
                <p>This famous sweet is a type of Brazilian Chocolate Confectionery. It's a scrumptious bite-size (or two) chocolate sweet, very popular in Brazil.
                    It is not a bonbon, it is not a truffle, fudge, caramel, brownie, or a cupcake... It's Brigadeiro!</p>
            </div>
        </div>
        <div class="grid-4">
            <div class="feature">
                <h2 class="feature-cakes">Cakes</h2>
                <p>Delicious cakes, hand made with love for every occasion. Our cakes are made with the finest ingredients. You can try our cakes in slices as well & also get a whole cake if you need one. From our oven, it comes out warm straight to your house. </p>
            </div>
        </div>
        <div class="grid-4">
            <div class="feature">
                <h2 class="feature-sweets">Sweets</h2>
                <p>We make sweets for the whole family. We are experts in creating unique experiences, from a simple treat to a gift for a special occasion. Hot or cold, our sweets can turn a simple moment into a memorable event.</p>
            </div>
        </div>
    </div>
    <a href="{% url 'products' %}">Shop now</a>
</section>

<section class="occasions">
    <h2>Occasions</h2>
    <div class="container occasion-content">
        <div class="grid-6">
            <img src="{% static 'img/valentines_day.jpg' %}" alt="Valentines Day">
        </div>
        <div class="grid-6">
            <h2>Valentines Day</h2>
            <p>With so many trends coming and going, there must be something about chocolate that it even today, it's a widely popular tradition in almost all countries in the world to give your loved one a box of chocolates on the Valentine's Day.</p>
            <a href="{% url 'products' %}">Find out more</a>
        </div>
    </div>
    <div class="container occasion-content">
        <div class="grid-6">
            <img src="{% static 'img/mothers.jpg' %}" alt="Easter">
        </div>
        <div class="grid-6">
            <h2>Mother's Day</h2>
            <p>Mother's Day shopping can often feel impossible Chocolate is a gift for the eyes as well as a gift for the mouth. Appeal to multiple sensors with one gift, and spoil your mom with something beautiful.</p>
            <a href="{% url 'products' %}">Find out more</a>
        </div>
    </div>
    <div class="container occasion-content">
        <div class="grid-6">
            <img src="{% static 'img/birthday.jpg' %}" alt="Birthday">
        </div>
        <div class="grid-6">
            <h2>Birthdays</h2>
            <p>Be it Mother's Day, Christmas, a loved one's birthday or Valentine's Day, chocolate is always a great idea. And when it comes in a form as irresistible as truffles, you simply can't go wrong with it! </p>
            <a href="{% url 'products' %}">Find out more</a>
        </div>
    </div>
</section>

<section class="newsletter">
    <div class="container">
        <div class="grid-6">
            <div class="newsletter-content">
                <h2>Sign up for our Newsletter</h2>
                <p>stay on top of our promotions</p>
            </div>
        </div>
        <form method="POST" action="{% url 'success' %}" class="grid-6">
            {% csrf_token %}
            <input type="email" name="newsletter" placeholder="Your email address">
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

<section class="instagram">
    <h2>Follow us on Instagram</h2>
    <div class="container">
        <div class="grid-3">
            <a href="https://www.instagram.com/candycaredublin/" title="Visit the Candy Care Instagram channel" aria-label="Visit the Candy Care Instagram channel (opens in a new tab)" target="_blank" rel="noopener">
                <img src="{% static 'img/instagram-1.jpg' %}" alt="A chocolate cake">
            </a>
        </div>
        <div class="grid-3">
            <a href="https://www.instagram.com/candycaredublin/" title="Visit the Candy Care Instagram channel" aria-label="Visit the Candy Care Instagram channel (opens in a new tab)" target="_blank" rel="noopener">
                <img src="{% static 'img/instagram-2.jpg' %}" alt="A person holding two pot cakes">
            </a>
        </div>
        <div class="grid-3">
            <a href="https://www.instagram.com/candycaredublin/" title="Visit the Candy Care Instagram channel" aria-label="Visit the Candy Care Instagram channel (opens in a new tab)" target="_blank" rel="noopener">
                <img src="{% static 'img/instagram-3.jpg' %}" alt="Assorted sweets">
            </a>
        </div>
        <div class="grid-3">
            <a href="https://www.instagram.com/candycaredublin/" title="Visit the Candy Care Instagram channel" aria-label="Visit the Candy Care Instagram channel (opens in a new tab)" target="_blank" rel="noopener">
                <img src="{% static 'img/instagram-4.jpg' %}" alt="A breakfast basket">
            </a>
        </div>
    </div>
    <a href="https://www.instagram.com/candycaredublin/" title="Follow us on Instagram" aria-label="Visit the Candy Care Instagram channel (opens in a new tab)" target="_blank" rel="noopener">@candycaredublin</a>
</section>

{% endblock %}