{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="header">
    <div class="container">
        <a class="logo grid-2" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Candy Care Logo" /></a>
        <nav id="nav" class="offset-2 grid-10" aria-label="primary-nav">
            <button id="btn-mobile" aria-label="Open menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu<span id="hamburger"></span></button>
            <ul id="menu" class="header-menu" role="menu">
                <li><a href="">Shop</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="">Contact</a></li>
                <li><a href=""><span class="material-symbols-outlined">shopping_bag</span>Cart <span>(0)</span></a></li>
            </ul>
        </nav>
    </div>
</header>

<main class="intro">
    <div>
        <h1>A sweet, a affection <br> a treat!</h1>
        <p>From ours to your family</p>
    </div>
    <a href="#">Shop now</a>
</main>

<section id="about" class="about">
    <h2>About us</h2>
    <div class="container">
        <div class="grid-6">
            <div class="about-item">
                <img src="{% static 'img/chocolate-1.jpg' %}" alt="Some assorted bonbons" />
                <h3>love</h3>
            </div>
        </div>
        <div class="grid-6">
            <div class="about-item">
                <img src="{% static 'img/chocolate-2.jpg' %}" alt="A chocolate cake" />
                <h3>perfection</h3>
            </div>
        </div>
    </div>
    <p>
        Candy Care provides a unique candy experience right to your door. We are experts in producing the best sweets, providing our friends and customers with an incredible experience. Based in Dublin, Ireland, we are dedicated to providing you with the best candy in the world.
    </p>
</section>

<section class="features">
    <div class="container">
        <div class="grid-4">
            <div class="feature">
                <h2 class="feature-brigadeiro">Brigadeiro</h2>
                <p>This famous sweet is a type of Brazilian Chocolate Confectionery. It's a scrumptious bite-size (or two) chocolate sweet, very popular in Brazil.
                It is not a bonbon, it is not a truffle, fudge, caramel, brownie, or a cupcake... It's Brigadeiro!</p>
            </div>
        </div>
        <div class="grid-4">
            <div class="feature">
                <h2 class="feature-cakes">Cakes</h2>
                <p>Delicious cakes, hand made with love for every occasion. Our cakes are made with the finest ingredients. You can try our cakes in slices as well & also get a whole cake if you need one. From our oven, it comes out warm straight to your house. </p>
            </div>
        </div>
        <div class="grid-4">
            <div class="feature">
                <h2 class="feature-sweets">Sweets</h2>
                <p>We make sweets for the whole family. We are experts in creating unique experiences, from a simple treat to a gift for a special occasion. Hot or cold, our sweets can turn a simple moment into a memorable event.</p>
            </div>
        </div>
    </div>
    <a href="#">Shop now</a>
</section>

{% endblock %}