{% extends 'base.html' %}
{% load static %}

{% load bag_tools %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
	<div class="row">
		<div class="col">
			<h2 class="font-f-l-b gray-9 mt-5 mb-4">Checkout</h2>
		</div>
	</div>
	<div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
			<div class="row mt-3 mb-4">
				<div class="col-6 offset-2">
					<p class="mb-1 mt-0 small text-muted">Item</p>
				</div>
				<div class="col-3 text-end">
					<p class="mb-1 mt-0 small text-muted">Subtotal</p>
				</div>
			</div>
			{% for item in shopping_bag_items %}
			<div class="row mb-4">
				<div class="col-2 mb-1">
					<a href="{% url 'product_detail' item.product.slug %}">
						{% if item.product.image %}
						<img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
						{% else %}
                        <img class="w-100" src="https://res.cloudinary.com/emidio-cloud/image/upload/v1658158199/Image_not_available_qyixph.png" alt="{{ product.name }}">
						{% endif %}
					</a>
				</div>
				<div class="col-7">
					<p class="my-0"><strong>{{ item.product.name }}</strong></p>
					<p class="my-2 small text-muted">Qty: {{ item.quantity }}</p>
				</div>
				<div class="col-2 text-end">
					<p class="mb-2 small text-muted">&euro;{{ item.product.price | calc_subtotal:item.quantity }}</p>
				</div>
			</div>
			{% endfor %}
			<hr class="my-3">
			<div class="row font-p-s gray-10 text-end">
				<div class="col-8">
					<p class="my-1">Order Total:</p>
					<p class="my-1">Delivery:</p>
					<p class="my-1">Grand Total:</p>
				</div>
				<div class="col-3">
					<p class="my-1">&euro;{{ total | floatformat:2 }}</p>
					<p class="my-1">&euro;{{ delivery | floatformat:2 }}</p>
					<p class="my-1"><strong>&euro;{{ grand_total | floatformat:2 }}</strong></p>
				</div>
			</div>
        </div>
		<div class="col-12 col-lg-6">
			<p class="text-muted mt-2 mb-4">Please fill out the form below to complete your order</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
				{% csrf_token %}
				<fieldset class="rounded mb-5">
					<legend class="fieldset-label font-p-xs gray-8 w-auto">Details</legend>
					{{ order_form.full_name | as_crispy_field }}
					{{ order_form.email | as_crispy_field }}
				</fieldset>
				<fieldset class="rounded mb-5">
					<legend class="fieldset-label font-p-xs gray-8 w-auto">Delivery</legend>
					{{ order_form.phone_number | as_crispy_field }}
					{{ order_form.street_address_1 | as_crispy_field }}
					{{ order_form.street_address_2 | as_crispy_field }}
					{{ order_form.town_or_city | as_crispy_field }}
					{{ order_form.county | as_crispy_field }}
					{{ order_form.postcode | as_crispy_field }}
					{{ order_form.country | as_crispy_field }}
					<div class="form-check form-check-inline float-right mr-0 ps-0">
						{% if user.is_authenticated %}
						<label class="form-check-label mt-2 font-p-xs gray-8" for="id-save-info">Save this delivery information to my
							profile</label>
						<input class="form-check-input ml-2" type="checkbox" id="id-save-info" name="save-info"
							checked>
						{% else %}
						<label class="form-check-label text-muted" for="id-save-info">
							<a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or
							<a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
						</label>
						{% endif %}
					</div>
				</fieldset>
				<fieldset class="px-3 ps-0">
					<legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
					<!-- A Stripe card element will go here -->
					<div class="mb-3" id="card-element"></div>
					<!-- Used to display form errors -->
					<div class="mb-3 text-danger" id="card-errors" role="alert"></div>
					<!-- Pass the client secret to the view so we can get the payment intent id -->
					<input type="hidden" value="{{ client_secret }}" name="client_secret">
				</fieldset>

				<div class="submit-button text-end mt-5 mb-2">
					<a href="{% url 'shopping_bag' %}" class="btn btn-warning text-black rounded-0 mt-3 p-3">
						<span class="icon">
							<i class="fas fa-chevron-left"></i>
						</span>
						<span class="font-weight-bold">Adjust Bag</span>
					</a>
					<button id="submit-button" class="btn button rounded-0 mt-3 p-3 mx-1 text-white w-50">
						<span class="font-weight-bold">Complete Order</span>
						<span class="icon">
							<i class="fas fa-lock"></i>
						</span>
					</button>
					<p class="small text-danger mt-2 mb-5">
						<span class="icon">
							<i class="fas fa-exclamation-circle"></i>
						</span>
						<span>Your card will be charged <strong>&euro;{{ grand_total|floatformat:2 }}</strong></span>
					</p>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">

</script>
{% endblock %}