/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin: 0 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding: 0 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin: 0px;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}