/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: #fff;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin: 0 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding: 0 10px;
  }
}

.container::after, .container::before {
  content: '';
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin: 0px;
  }
}

.row::after, .row::before {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #111111;
}

.header {
  background: #320C0E;
  padding: 20px 0;
}

.header img {
  width: 60px;
  float: left;
}

.header ul {
  float: right;
}

.header li {
  display: inline-block;
}

.header li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  display: block;
  padding: 10px;
  margin-left: 10px;
  position: relative;
}

.header a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #FFFFFF;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header a:hover::after {
  width: 80%;
}

.header span:not(:last-child) {
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.intro {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/static/img/hero-image.jpg") no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  padding: 200px 0;
  height: 80vh;
  text-align: center;
}

.intro h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
}

.intro h1::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

.intro p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.125rem;
}

.intro > a {
  display: block;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #BF0028;
  padding: 15px 0;
  border: 2px solid;
  margin: 40px auto 0 auto;
}

.intro > a:hover {
  background: #BF0028;
  border-color: #BF0028;
  color: #FFFFFF;
}

@media (max-width: 739px) {
  .intro {
    padding: 60px 0;
  }
  .intro > a {
    background: #BF0028;
    border: none;
    color: #FFFFFF;
  }
}
