@import "./utilities/typography.css";
@import "./utilities/color.css";

html {
  overflow-x: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin: 0 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 10px);
}

.offset-2 {
  margin-left: calc(16.66667% + 10px);
}

.offset-3 {
  margin-left: calc(25% + 10px);
}

.offset-4 {
  margin-left: calc(33.33333% + 10px);
}

.offset-5 {
  margin-left: calc(41.66667% + 10px);
}

.offset-6 {
  margin-left: calc(50% + 10px);
}

.offset-7 {
  margin-left: calc(58.33333% + 10px);
}

.offset-8 {
  margin-left: calc(66.66667% + 10px);
}

.offset-9 {
  margin-left: calc(75% + 10px);
}

.offset-10 {
  margin-left: calc(83.33333% + 10px);
}

.offset-11 {
  margin-left: calc(91.66667% + 10px);
}

.offset-12 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1,
  .offset-2,
  .offset-3,
  .offset-4,
  .offset-5,
  .offset-6,
  .offset-7,
  .offset-8,
  .offset-9,
  .offset-10,
  .offset-11,
  .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding: 0 10px;
  }
}

.container::after,
.container::before {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin: 0px;
  }
}

.row::after,
.row::before {
  content: "";
  display: table;
  clear: both;
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #111111;
}

.nav-top {
  padding: 10px 0;
  background: #e6bb7a;
}

.nav-top li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.nav-top li:not(:last-child)::after {
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  background: #74523d;
  position: absolute;
  top: -3px;
  right: -10px;
}

.nav-top a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 12px;
  color: #320c0e;
}

.nav-top a:hover {
  text-decoration: underline;
}

.header {
  background: #320c0e;
  padding: 20px 0;
}

.header img {
  width: 60px;
  float: left;
}

.header ul {
  float: right;
}

.header li {
  display: inline-block;
}

.header li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.125rem;
  display: block;
  padding: 10px;
  margin-left: 10px;
  position: relative;
}

.header li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #ffffff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header li a:hover::after {
  width: 80%;
}

.header span:not(:last-child) {
  position: relative;
  top: 5px;
  margin-right: 5px;
}

#btn-mobile {
  display: none;
}

@media (max-width: 768px) {
  .header-menu {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding-top: 120px;
    margin-right: 0;
    align-items: flex-end;
    position: absolute;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    visibility: hidden;
    overflow-x: hidden;
  }
  #nav.active .header-menu {
    width: 50%;
    visibility: visible;
    overflow-x: auto;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.4);
  }
  .header-menu a {
    margin: 0 32px;
  }
  #btn-mobile {
    display: flex;
    padding: 8px 8px 8px 16px;
    font-size: 1.125rem;
    color: #ffffff;
    border: none;
    background: none;
    gap: 8px;
    align-items: center;
    z-index: 9999;
    position: relative;
    top: 15px;
    cursor: pointer;
  }
  #hamburger {
    color: #ffffff;
    border-top: 2px solid;
    width: 24px;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}

.intro {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/hero-image.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding: 200px 0;
  height: 90vh;
  text-align: center;
}

.intro h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.intro h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #ffffff;
  margin: 10px auto;
}

.intro p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 1.125rem;
}

.intro > a {
  display: block;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
  background: #bf0028;
  padding: 20px 0;
  margin: 60px auto 0 auto;
}

.intro > a:hover {
  background: #a00028;
  color: #ffffff;
}

@media (max-width: 739px) {
  .intro {
    padding: 160px 0;
  }
  .intro > a {
    background: #bf0028;
    border: none;
    color: #ffffff;
  }
}

.about {
  padding: 90px 0 60px 0;
}

.about h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 40px;
  text-align: center;
}

.about-item h3 {
  font-size: 2.25rem;
  line-height: 1rem;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  background: #e6bb7a;
  color: #5e3622;
  width: 220px;
  padding: 20px;
  top: -25px;
  position: relative;
}

.about > p {
  max-width: 460px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.4rem;
  font-style: italic;
  text-align: center;
  margin: 40px auto 0 auto;
}

@media (max-width: 739px) {
  .about-item h3 {
    font-size: 2rem;
    width: 200px;
  }
}

.features {
  background: rgba(230, 187, 122, 0.7);
  border-top: 3px solid #e6bb7a;
  border-bottom: 3px solid #e6bb7a;
  padding: 90px 0;
}

.feature h2 {
  font-family: "Montserrat", sans-serif, sans-serif;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 20px;
}

.feature h2::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  margin: 0 auto 40px auto;
}

h2.feature-brigadeiro::before {
  background: url("../img/feature-1.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0 0 0 5px #421f1d;
}

h2.feature-cakes::before {
  background: url("../img/feature-2.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0 0 0 5px #5e3622;
}

h2.feature-sweets::before {
  background: url("../img/feature-3.jpg") no-repeat center;
  background-size: cover;
  box-shadow: 0 0 0 5px #7b504d;
}

.feature p {
  font-family: "Roboto", sans-serif, sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  margin-bottom: 40px;
}

.features > a {
  display: block;
  width: 220px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #bf0028;
  padding: 15px 0;
  border: 2px solid;
  margin: 40px auto 0 auto;
}

.features > a:hover {
  background: #bf0028;
  border-color: #bf0028;
  color: #ffffff;
}

.occasions {
  padding: 60px 0;
}

.occasions > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 60px;
  text-align: center;
}

.occasion-content {
  margin-bottom: 32px;
}

.occasion-content h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.occasion-content p {
  font-size: 1.125em;
  line-height: 1.4em;
  color: #404040;
  max-width: 360px;
  margin-bottom: 20px;
}

.occasion-content a {
  display: block;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.125rem;
  font-weight: bold;
  color: #bf0028;
  padding: 15px 0;
  border: 2px solid;
}

.occasion-content a:hover {
  background: #bf0028;
  border-color: #bf0028;
  color: #ffffff;
}

@media (max-width: 739px) {
  .occasion-item {
    margin-top: 20px;
    margin-left: 0;
  }
  .occasion-content h2 {
    margin-top: 20px;
  }
  .occasion-content p {
    max-width: 100%;
  }
}

.instagram {
  padding: 60px 0;
}

.instagram h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 60px;
  text-align: center;
}

.instagram a img {
  transition: 0.2s ease-in;
}

.instagram a img:hover {
  opacity: 0.9;
}

.instagram a {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 4px;
  display: block;
  text-align: center;
  color: #bf0028;
  text-decoration: underline;
  padding: 15px 0;
  margin: 40px 0;
}

.instagram a:hover {
  color: #a00028;
}

.newsletter {
  background: rgba(230, 187, 122, 0.8);
  padding: 60px 0;
  border-top: 3px solid #e6bb7a;
  border-bottom: 3px solid #e6bb7a;
  color: #320c0e;
}

.newsletter-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 10px;
}

.newsletter-content p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
}

form input {
  font-size: 1.25rem;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
  width: calc(100% - 140px);
  border: 3px solid #320c0e;
  background: transparent;
  margin-top: 10px;
  padding: 10px;
  float: left;
}

form input::placeholder {
  color: #320c0e;
}

form input:focus {
  outline: none;
}

form button {
  width: 140px;
  padding: 13px 0;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #e6bb7a;
  background: #320c0e;
  border: none;
  cursor: pointer;
}

form button:hover {
  background: #230305;
}

.footer {
  padding: 40px 0;
  border-top: 3px solid #e6bb7a;
  background: #320c0e;
}

.footer h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #f7f7f7;
  margin-bottom: 20px;
}

.footer p,
.footer-content li {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8;
  color: #cccccc;
  margin: 10px 0;
  max-width: 460px;
}

.footer a:hover {
  color: #ededed;
}

.footer img {
  display: inline-block;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.footer h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #f7f7f7;
  margin-top: 10px;
}

.footer-content .grid-8,
.footer-content .grid-4 {
  margin-top: 60px;
  margin-left: 0;
}

.credits {
  text-align: right;
}

.credits a {
  font-weight: 500;
  letter-spacing: 1px;
}

.credits a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer img {
    margin-top: 10px;
  }
  .footer h2 {
    margin-top: 30px;
  }
  .footer h3 {
    text-align: center;
    padding-top: 30px;
  }
  .footer h3,
  .credits {
    text-align: center;
  }
}

.title-bg::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.title-bg {
  background-color: var(--primary-color-5);
  margin-bottom: 120px;
}

.title p {
  padding-top: 60px;
}

.title h1 {
  margin-top: 8px;
  padding-bottom: 60px;
}

@media (max-width: 600px) {
  .title p {
    font-size: 1rem;
  }
  .title h1 {
    font-size: 2.5rem;
    padding-bottom: 12px;
  }
}

.products-header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/chocolate-1.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
  padding: 200px 0;
  text-align: center;
}

.products-header h1 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 20px;
}

.products-header h1::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background: #ffffff;
  margin: 10px auto;
}

.products {
  padding: 80px 0;
}

.product-card {
  margin-bottom: 40px;
}

.product-card-image:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.product-card-info h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 10px 0;
}

.product-card-info p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #404040;
  margin: 10px 0;
}

.btt-button {
  height: 42px;
  width: 42px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #320c0e;
  cursor: pointer;
}

/* Product details */

.product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
}

.product-image {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-image img {
  flex: 1;
  min-width: 100%;
}

.product-inner-content > p {
  margin-bottom: 32px;
}

.product-button {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: 8px 12px;
  margin-bottom: 40px;
}

.options {
  margin-top: 100px;
  margin-bottom: 120px;
}

.options-header {
  margin-bottom: 40px;
}

.options ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.options h2 {
  text-align: center;
}

.options h3 {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.options img[src$=".jpg"]:hover {
  opacity: 0.9;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .product {
    grid-template-columns: 1fr;
  }
  .product-image {
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  .title h1 {
    font-size: 3rem;
  }
  .product-facilities,
  .product-button {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .options ul {
    grid-template-columns: 1fr;
  }
}

/* Components */

.button {
  display: inline-block;
  padding: 16px 32px;
  max-width: max-content;
  background-color: #bf0028;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #ffffff;
  font: 600 1.125rem/1.33 "Roboto", sans-serif;
  cursor: pointer;
}

.button:hover {
  background-color: #a00028;
}

.button.edit {
  background-color: #008631;
}

.button.edit:hover {
  background-color: #00742a;
}

.button.delete {
  background-color: #FF0000;
}

.button.delete:hover {
  background-color: #ac0000;
}