{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
	<div class="row">
		<div class="col">
			<h2 class="font-p-xl gray-9 mt-5 mb-4">Shopping bag</h2>
		</div>
	</div>
	<div class="row">
		<div class="col">
			{% if shopping_bag_items %}
			<div class="table-responsive rounded">
				<table class="table table-sm table-borderless my-5">
					<thead class="text-black font-p-m gray-9">
						<tr>
							<th scope="col">Product info</th>
							<th scope="col"></th>
							<th scope="col">Price</th>
							<th scope="col" class="text-center">Quantity</th>
							<th scope="col">Subtotal</th>
						</tr>
					</thead>
					<tbody>
						{% for item in shopping_bag_items %}
						<tr>
							<td class="w-25">
								<a href="{% url 'product_detail' item.product.slug %}">
								{% if item.product.image %}
									<img class="w-100" src="{{ item.product.image.url }}" alt="{{ product.name }}">
								{% else %}
									<img class="w-100" src="https://res.cloudinary.com/emidio-cloud/image/upload/v1658158199/Image_not_available_qyixph.png" alt="{{ product.name }}">
                            	{% endif %}
								</a>
							</td>
							<td class="py-3">
								<a href="{% url 'product_detail' item.product.slug %}">
									<p class="my-0 font-f-l gray-9"><strong>{{ item.product.name }}</strong></p>
								</a>
								<p class="my-0 small text-muted">
									SKU: {{ item.product.sku|upper }}
								</p>
							</td>
							<td class="py-3">
								<p class="my-0">&euro;{{ item.product.price }}</p>
							</td>
							<td class="py-3 w-25 text-center">
								<form class="form update-form" method="POST"
									action="">
									{% csrf_token %}
									<div class="form-group w-25 mb-2">
										<div class="input-group input-group-{{ item.item_id }}">
											<input
												class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}"
												type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
												data-item_id="{{ item.item_id }}" />
										</div>
									</div>
								</form>
								<a class="update-link text-info"><small>Update</small></a>
								<a class="remove-item text-danger float-right mx-2" id="remove_{{ item.item_id }}">
									<small>Remove</small>
								</a>
							</td>
							<td class="py-3">
								<p class="my-0">&euro;{{ item.product.price | calc_subtotal:item.quantity }}</p>
							</td>
							<td></td>
						</tr>
						{% endfor %}
						<tr>
							<td colspan="5" class="text-right font-p-s gray-10 mb-4">
								<h6>
									<strong>Bag Total: &euro;{{ total|floatformat:2 }}</strong>
								</h6>
								<h6>
									<strong>Delivery: &euro;{{ delivery|floatformat:2 }}</strong>
								</h6>
								<h4>
									<strong>Grand Total: &euro;{{ grand_total|floatformat:2 }}</strong>
								</h4>

								{% if free_delivery_delta > 0 %}
								<p class="mb-1 text-danger">
									You could get free delivery by spending just
									<strong>&euro;{{ free_delivery_delta }}</strong> more!
								</p>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td colspan="5" class="text-right">
								<a href="{% url 'products' %}" class="btn btn-outline-warning text-black rounded-0 mt-3 p-3">
									<span class="icon">
										<i class="fas fa-chevron-left"></i>
									</span>
									<span class="text-uppercase">Keep shopping</span?
								</a>
								<a href="" class="btn button rounded-0 mt-3 p-3 mx-3 text-white">
									<span class="text-uppercase">Secure Checkout</span?
									<span class="icon">
										<i class="fas fa-lock"></i>
									</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			{% else %}
			<p class="lead mb-5">Your bag is empty.</p>
			<a href="{% url 'products' %}" class="btn btn-outline-black btn-lg rounded-0">
				<span class="icon">
					<i class="fas fa-chevron-left"></i>
				</span>
				<span class="text-uppercase">Keep shopping</span>
			</a>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
	// update quantity on click
	$(".update-link").click(function (e) {
		let form = $(this).prev(".update-form");
		form.submit();
	});

	// remove item and reload on click
	$(".remove-item").click(function (e) {
		let csrfToken = "{{ csrf_token }}";
		let itemId = $(this).attr("id").split("remove_")[1];
		let url = `/shopping_bag/remove/${itemId}`;
		let data = {
			csrfmiddlewaretoken: csrfToken,
		};
		$.post(url, data).done(function () {
			location.reload();
		});
	});
</script>
{% endblock %}