{% load static %}
<footer class="footer">
    <div class="container">
        <div class="grid-6">
            <div class="footer-content">
                <h2>About</h2>
                <p>Candy Care is a company that provides a unique candy experience right to your door. We are experts in producing the best sweets, providing our friends and customers with an incredible experience. Based in Dublin, Ireland, we are dedicated to providing you with the best candy in the world.</p>
            </div>
        </div>
        <div class="grid-3">
            <div class="footer-content">
                <h2>Contact</h2>
                <ul>
                    <li><a href="tel:+35312345678">+353 1 234 5678</a></li>
                    <li><a href="mailto:candycare@candycare.ie">candycare@candycare.ie</a></li>
                    <li>1 O'Connel Street - Dublin 1</li>
                    <li>Dublin - Ireland</li>
                </ul>
            </div>
        </div>
        <div class="grid-3">
            <div class="footer-content follow">
                <h2>Follow us</h2>
                <a href="https://www.facebook.com/people/Candy-Care/100038339116419/" title="Visit the Candy Care Facebook page" aria-label="Visit the Candy Care Facebook page (opens in a new tab)" target="_blank" rel="noopener"><img src="{% static 'img/facebook-icon.svg' %}" alt="Facebook" /></a>
                <a href="https://www.instagram.com/candycaredublin/" title="Visit the Candy Care Instagram page" aria-label="Visit the Candy Care Instagram page (opens in a new tab)" target="_blank" rel="noopener"><img src="{% static 'img/instagram-icon.svg' %}" alt="Instagram" /></a>
            </div>
        </div>
        <div class="grid-12">
            <div class="footer-content">
                <div class="grid-8">
                    <h3 class="copy">Candy Care &copy; <span class="current_year"></span>. All rights reserved.</h3>
                </div>
                <div class="grid-4">
                    <p class="credits">Made with ❤️ by <a href="https://github.com/emidiovaleretto" title="Visit my portfolio on GitHub" aria-label="Visit my portfolio on GitHub (opens in a new tab)" target="_blank" rel="noopener">Emidio Valereto</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>