{% load static %}

<header class="nav-top">
    <div class="container">
        <nav>
            <ul>
            {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <li><a href="">Product Management</a></li>
            {% endif %}
                <li><a href="">My Profile</a></li>
                <li><a href="{% url 'account_logout' %}">Sign out</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Sign in</a></li>
                <li><a href="{% url 'account_signup' %}">Sign up</a></li>
            {% endif %}
            </ul>
        </nav>
    </div>
</header>
<header class="header">
    <div class="container">
        <a class="logo grid-2" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Candy Care Logo"></a>
        <nav id="nav" class="offset-2 grid-10" aria-label="primary-nav">
            <button id="btn-mobile" aria-label="Open menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false">Menu<span id="hamburger"></span></button>
            <ul id="menu" class="header-menu" role="menu">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'products' %}">Shop</a></li>
                <li><a href="{% url 'home' %}#about">About Us</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="{% url 'shopping_bag' %}"><span class="material-symbols-outlined">shopping_bag</span>Cart <span {% if grand_total %}class="grand_total" {% endif %}>
                    {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                    {% else %}
                        €0.00
                    {% endif %}
                </span></a></li>
            </ul>
        </nav>
    </div>
</header>