{% extends 'base.html' %}
{% load static %}

{% block title %}Management Panel{% endblock %}

{% block content %}

<section>

    <div class="container management">
        <div>
            <a href="{% url 'add_product' %}" aria-label="Click here to add a new product">
                <img src="{% static 'img/square-plus-regular.svg' %}">
                <h2>Add Product</h2>
            </a>
        </div>
        <div>
            <a href="{% url 'edit_all_products' %}" aria-label="Click here to list all products for editing">
                <img src="{% static 'img/pen-to-square-regular.svg' %}">
                <h2>Edit Product</h2>
            </a>
        </div>
    </div>

</section>

{% endblock %}