{% extends 'base.html' %}
{% load static %}

{% block content %}

<main>
  <section class="container product">
    <div class="product-content">
      <div class="flex-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-info" href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a class="text-info" href="{% url 'products' %}">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
          </ol>
        </nav>
      {% if 'placeholder' in product.image.url %}
        <img src="https://res.cloudinary.com/emidio-cloud/image/upload/v1658158199/Image_not_available_qyixph.png"
          alt="{{ product.name }}">
      {% else %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}">
      {% endif %}
        <p class="font-p-xs gray-11 mt-3">*Images merely illustrative</p>
      </div>
      <div class="flex-2">
        <h1 class="font-p-xl gray-9">{{ product.name }}</h1>
        <h4 class="font-f-l gray-8 mb-3">€ {{ product.price }}</h4>
        <h3 class="font-p-m gray-9 mt-3">Product Details</h3>
        <p class="font-p-s gray-10 mt-2 mb-3">{{ product.description }}</p>
        <input class="text-center mx-1" type="number" value="1" />
        <a href="{% url 'add_to_shopping_bag' product.id %}" class="button">Add to Cart</a>
        <div class="row">
          <div class="d-inline">
            <a href="{% url 'products' %}" class="btn btn-outline-warning text-black rounded-0 mt-3 p-3">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="text-uppercase">Keep Shopping</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<section class="container">
  <section class="suggestion-content suggestion-header">
    <h2 class="font-p-l gray-10">Related Products</h2>
    <a class="link-home font-f-m" href="{% url 'products' %}">View all</a>
  </section>
</section>
<section class="container">
  <div class="suggestion-content">
    <ul>
      {% for suggestion in suggestions %}
      <li>
        <a href="{% url 'product_detail' suggestion.slug %}">
          <img src="{{ suggestion.image.url }}" alt="{{ suggestion.name }}">
          <h3 class="font-p-m gray-11 mt-2">{{ suggestion.name }}</h3>
          <p class="font-f-m gray-8 mt-1">€ {{ suggestion.price }}</p>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>


{% endblock %}