{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="container">
    <div class="title">
        <p class="font-p-xl gray-7">€ {{ product.price }}</p>
        <h1 class="font-p-xxl gray-10">{{ product.name }}</h1>
    </div>
    <div class="product">
        <div class="product-image">
        {% if 'placeholder' in product.image.url %}
            <img src="https://res.cloudinary.com/emidio-cloud/image/upload/v1658158199/Image_not_available_qyixph.png" alt="{{ product.name }}">
        {% else %}
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        {% endif %}
            <p class="font-p-xs gray-11">*Images merely illustrative</p>
        </div>
        <div class="product-inner-content">
            <p class="font-f-l gray-9">{{ product.description }}</p>
            <div class="product-button">
            {% if request.user.is_superuser %}
                <small>
                    <a class="button edit" href="">Edit</a>
                    <a class="button delete" href="#" data-toggle="modal" data-target="#deleteModal">Delete</a>
                </small>
            {% include 'includes/modal.html' %}
            {% endif %}
                <a class="button" href="">Add to Cart</a>
            </div>
        </div>
    </div>
</main>

<article class="options container">
    <div class="options-header">
        <h2 class="font-p-xl gray-10">Looking for more options? Try one of these!</h2>
    </div>
    <ul>
        {% for suggestion in suggestions %}
        <li>
            <a href="{% url 'product_detail' suggestion.id %}">
                <img src="{{ suggestion.image.url }}" alt="{{ suggestion.name }}">
                <h3 class="font-p-m gray-11">{{ suggestion.name }}</h3>
                <p class="font-f-m gray-8">€ {{ suggestion.price }}</p>
            </a>
        </li>
        {% endfor %}
    </ul>
</article>


{% endblock %}