.header {
    background: $p1;
    padding: 20px 0;
}

.header img {
    width: 60px;
    float: left;
}

.header ul {
    float: right;
}

.header li {
    display: inline-block;
}

.header li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.125rem;
    display: block;
    padding: 10px;
    margin-left: 10px;
    position: relative;
}

.header li a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: $white;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
}

.header li a:hover::after {
    width: 80%;
}

.header span:not(:last-child){
    position: relative;
    top: 5px;
    margin-right: 5px;
}

#btn-mobile {
    display: none;
}

@media (max-width: 768px) {
    .header-menu {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-top: 120px;
        margin-right: 0;
        align-items: flex-end;
        position: absolute;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .8);
        transition: .5s;
        visibility: hidden;
        overflow-x: hidden;
    }

    #nav.active .header-menu {
        width: 50%;
        visibility: visible;
        overflow-x: auto;
        box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.4);
    }

    .header-menu a {
        margin: 0 32px;
    }

    #btn-mobile {
        display: flex;
        padding: 8px 8px 8px 16px;
        font-size: 1.125rem;
        color: $white;
        border: none;
        background: none;
        gap: 8px;
        align-items: center;
        z-index: 9999;
        position: relative;
        top: 10px;
        right: -300px;
        cursor: pointer;
    }

    #hamburger {
        color: $white;
        border-top: 2px solid;
        width: 24px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}